<section class="footer-section">
    <div class="container">
        <div class="row mb-4" *ngFor="let item of getData">
            <div class="col-lg-6">
                <img src="assets/img/main-logo.png" class="foo-img">
                <ul class="li">
                    <li>{{item.email}}</li>
                    <li class="mob"> <span class="dot"></span>{{item.mobileNumber}}</li>
                    <li> <span class="dot"></span>{{item.address}}</li>
                </ul>
                <p class="copy">{{item.copyright}}</p>
                <p class="copy">
                    <span *ngIf="dir == 'ltr'">{{item.quickLink[0].stayStringEn}}</span>
                    <span *ngIf="dir == 'rtl'">{{item.quickLink[0].stayStringAr}}</span>
                </p>
                <ul class="social">
                    <li>
                        <a href="{{item.instaLink}}" target="_blank"><img src="../../assets/img/instagram.svg">
                        </a>
                    </li>
                    <li>
                        <a href="{{item.fbLink}}" target="_blank"><img src="../../assets/img/facebook-f.svg">
                        </a>
                    </li>
                    <li><a href="{{item.twitterLink}}" target="_blank"><img src="../../assets/img/twitter.svg">
                        </a></li>
                </ul>
            </div>
            <div class="col-md-1"></div>
            <div class="col-lg-5 top-f">
                <p class="copy">
                    <span *ngIf="dir == 'ltr'">{{item.quickLink[0].quickStingEn}}</span>
                    <span *ngIf="dir == 'rtl'">{{item.quickLink[0].quickStingAr}}</span>
                </p>
                <ul class="li">
                    <li>
                        <a routerLink="/about"><span *ngIf="dir == 'ltr'">{{item.quickLink[0].whoStringEn}}</span>
                            <span *ngIf="dir == 'rtl'">{{item.quickLink[0].whoStringAr}}</span></a>
                    </li>
                    <li><span class="dot"></span>
                        <a routerLink="/gcc"><span *ngIf="dir == 'ltr'">{{item.quickLink[0].serviceStringEn}}</span>
                            <span *ngIf="dir == 'rtl'">{{item.quickLink[0].serviceStringAr}}</span></a>
                    </li>
                    <li><span class="dot"></span>
                        <a routerLink="/project"><span *ngIf="dir == 'ltr'">{{item.quickLink[0].projectStringEn}}</span>
                            <span *ngIf="dir == 'rtl'">{{item.quickLink[0].projectStringAr}}</span></a>
                    </li>
                    <li><span class="dot"></span>
                        <a routerLink="/career"><span *ngIf="dir == 'ltr'">{{item.quickLink[0].careerStringEn}}</span>
                            <span *ngIf="dir == 'rtl'">{{item.quickLink[0].careerStringAr}}</span></a>
                    </li>
                </ul>
                <p class="copy">
                    <span *ngIf="dir == 'ltr'">{{item.quickLink[0].operatingStringEn}}</span>
                    <span *ngIf="dir == 'rtl'">{{item.quickLink[0].operatingStringAr}}</span>
                </p>
                <ul class="li">
                    <li>
                        <a href="{{item.quickLink[0].gerflorLink}}" target="_blank">{{item.quickLink[0].gerflorString}}</a>
                    </li>
                    <li><span class="dot"></span>
                        <a href="{{item.quickLink[0].bostikLink}}" target="_blank">{{item.quickLink[0].bostikString}}</a>
                    </li>
                    <li><span class="dot"></span>
                        <a href="{{item.quickLink[0].usgMeLink}}" target="_blank">{{item.quickLink[0].usgMeString}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="foot_cont">تم التصميم والتطوير بواسطة : <a href="https://yellostack.com/" target="_blank">Yellostack</a></p>
            </div>
        </div>
    </div>
</section>