<section class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
               <img src="../../assets/img/foo-logo.png" class="foo-img">
<ul class="li">
    <li>Juman@Juman.sa</li>
    <li> <span class="dot"></span>+966-13-882 8086</li>
    <li> <span class="dot"></span>Al Khobar, Saudi Arabia (Head Office)</li>
</ul>
               <p class="copy">Copyrights © 2023 Saudi Juman All rights reserved.</p>
               <p class="copy">Stay Tuned</p>
               <ul class="social">
                <li><img src="../../assets/img/instagram.svg"></li>
                <li><img src="../../assets/img/facebook-f.svg"></li>
                <li><img src="../../assets/img/twitter.svg"></li>
               </ul>
            </div>
            <div class="col-md-2"></div>
            <div class="col-lg-4 top-f">
                <p class="copy">Quick Links</p>
                <ul class="li">
                    <li>Who We are</li>
                    <li><span class="dot"></span>Who We are</li>
                    <li><span class="dot"></span>Who We are</li>
                    <li><span class="dot"></span>Career</li>
                </ul>
                <p class="copy">Operating Companies</p>
                <ul class="li">
                    <li>Gerflor</li>
                    <li><span class="dot"></span>BOSTIK</li>
                    <li><span class="dot"></span>USG ME</li>
                                    </ul>
            </div>
        </div>
    </div>
</section>
