.footer-section {
    background: #434345 0% 0% no-repeat padding-box;
    mix-blend-mode: multiply;
    opacity: 1;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-top: 40px;
}

.li {
    text-align: left;
    padding-top: 10px;
    margin-left: -30px;
}
.li:lang(ar){
    text-align: right;
    margin-right: -30px;
    margin-left: auto;
}
.li li {
    list-style: none;
    display: inline-block;
    padding-left: 10px;
    color: var(--white-color);
}
.li li:lang(ar){
    padding-left: auto;
    padding-right: 10px;
}
.li li a {
    color: var(--white-color);
}
.li li span.dot {
    font-size: 20px;
    background: var(--main-color);
    margin: 0 5px;
}

.dot {
    height: 4px;
    width: 4px;
    background-color: var(--main-color);
    position: relative;
    left: -5px;
    top: -5px;
    border-radius: 50%;
    display: inline-block;
}
.dot:lang(ar){
    right: -5px;
    left: auto;
}
.foo-img {
    margin-left: -35px !important;
}
.foo-img:lang(ar){
    margin-right: -35px !important;
    margin-left: auto;
}
.copy {
    padding-left: 10px;
    color: var(--white-color);
}
.copy:lang(ar){
    padding-right: 10px;
    padding-left: auto;
}
.social {
    list-style: none;
    margin-left: -30px;
}
.social:lang(ar){
    margin-right: -30px;
    margin-left: auto;
}
.social li {
    padding-left: 10px;
    display: inline-block;
}
.social li:lang(ar){
    padding-right: 10px;
    padding-left: auto;
}
.social li img {
    width: 17px;
    cursor: pointer;
    height: 17px;
}

.top-f {
    padding-top: 60px;
}
.mob:lang(ar){
    direction: ltr;
}
.mob .dot:lang(ar){
   display: none;
}
.foot_cont{
    text-align: center;
    color: var(--white-color);
    font-size: var(--para-size);
    direction: rtl;
}
.foot_cont a{
    color: var(--white-color);
}
.foot_cont a:hover{
    color: var(--main-color);
}
@media only screen and (max-width: 1199px) and (min-width: 320px) {

    .li li {
        line-height: 2.5 !important;
    }
    .top-f{
        padding-top: 20px;
    }
}