.footer-section{
    background: #434345 0% 0% no-repeat padding-box;
    mix-blend-mode: multiply;
    opacity: 1;
  padding-top:30px;
  padding-bottom:40px;
  margin-top:40px;
}
.li{
   text-align: left;
   padding-top: 10px;
    margin-left: -30px;
}
.li li{
list-style: none;
display:inline-block;
padding-left: 10px;
color: var(--white-color);
}
.li li span{
        font-size:20px;
    background: var(--main-color);
}
.dot{
    height: 4px;
    width: 4px;
    background-color:var(--main-color);
    position: relative;
    left:-5px;
    top:-5px;
    border-radius: 50%;
    display: inline-block;
}
.foo-img{
    margin-left:-35px !important;
}
.copy{
    padding-left:10px;
    color: var(--white-color);
}
.social{
    list-style: none;
    margin-left:-30px;
    margin-left:-30px;
}
.social li {
    
    padding-left:10px;
        display: inline-block;
    }
    .social li img{
        width:17px;
              height:17px;
    }
    .top-f{
        padding-top:60px;
    }