.get {
  padding-top: 120px;
  padding-bottom: 40px;
}

.get h1 {
  font-size: var(--heading-h2);
  font-weight: 600;
  line-height: 1.7;
  padding-top: 20px;
  padding-bottom: 20px;
}
h2{
  font-size: var(--heading-h2);
}
.hr {
  width: 100px;
  background: #000;
  border-width: 3px;
  position: relative;
  top: -31px;
  left: 40%;
}
.hr:lang(ar){
  right: 40%;
  left: auto;
}

.sec-t {
  background: #F3F3F5;
  height: 300px;
}
.about .nav-link.active span{
  padding-bottom: 7px;
  border-bottom: 6px solid #FAA61A;
  border-radius: 4px;
}
.about .nav-link.active span:lang(ar){
  padding-bottom: 2px;
}
/* .about .nav-link.active span:before {
  content: '';
  position: absolute;
  margin-top: 28px;
  width: 45px;
  height: 8px;
  border-radius: 10px;
  background: #FAA61A;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
} */

.about .nav-pills {
  border-bottom: 4px solid #D0D0D0;
}
.nav{
  display: flex;
  justify-content: space-around !important;
}
.nav:lang(ar){
  padding-right: 0;
}
.about .nav-link.active {
  color: #000;
  font-weight: 600;
  background: none;
  /* border-bottom: 3px solid var(--color-primary); */
}

.about .nav-link {
  background: none;
  font-size: 18px;
  font-weight: 400;
  color: var(--color-secondary);
  padding: 12px 0;
  margin-bottom: -2px;
  border-radius: 0;
  font-family: var(--font-secondary);
}

/* .about img {
  margin-top: -75px;
} */

.about {
  padding: 50px;
}

.about p {
  line-height: 1.7;
  font-size: 16px;
  padding-top: 10px;
}

.box img {
  width: 50px;
  height: 50px;
}

.box {
  background: #FAA61A;
  padding: 20px;
  height: 200px;
}

.box h2 {
  color: #fff;
}

.box p {
  color: #fff;
  font-size: 16px;
  opacity: 0.72;
}

.box a {
  color: #fff;
  text-align: right;
}
.box a:lang(ar){
  text-align: left;
}
.box1 img {
  width: 50px;
  height: 50px;
}

.box1 {
  background: #37C2D4;
  padding: 20px;
  height: 200px;
}

.box1 h2 {
  color: #fff;
}

.box1 p {
  color: #fff;
  font-size: 16px;
  opacity: 0.72;
}

.box1 a {
  color: #fff;
  text-align: right;
}

.box3 img {
  width: 50px;
  height: 50px;
}

.box3 {
  background: #11133C;
  padding: 20px;
  height: 200px;
}

.box3 h2 {
  color: #fff;
}

.box3 p {
  color: #fff;
  font-size: 16px;
  opacity: 0.72;
}

.box3 a {
  color: #fff;
  text-align: right;
}
.box3 a:lang(ar){
  text-align: left;
}
.juman {
  margin: 40px auto;
  text-align: center;
  color: black;
  font-weight: 500;
  font-size: var(--heading-h2);
  max-width: 600px;
  position: relative;
}

.juman:before {
  content: "";
  display: block;
  width: 200px;
  height: 3px;
  background: #FAAE2B;
  left: -150px;
  top: 50%;
  position: absolute;
}
.juman:lang(ar):before{
  right: -150px;
  left: auto;
}

.juman:after {
  content: "";
  display: block;
  width: 200px;
  height: 3px;
  background: #FAAE2B;
  right: -150px;
  top: 50%;
  position: absolute;
}
.juman:lang(ar):after{
  left: -150px;
  right: auto;
}

.number {
  padding: 30px;
}

.number h3 {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}

.number p {
  font-size: 18px;
  padding-top: 8px;
  color: rgb(83, 83, 84);
  font-weight: 500;
  text-align: center;
}

.invest {
  margin: 20px auto 40px auto;
  text-align: center;
  color: black;
  font-weight: 500;
  font-size: var(--heading-h2);
  max-width: 600px;
  position: relative;
}

.invest:before {
  content: "";
  display: block;
  width: 350px;
  height: 2px;
  background: #707070;
  left: -250px;
  top: 50%;
  position: absolute;
}
.invest:lang(ar):before{
  right: -250px;
  left: auto;
}
.invest:after {
  content: "";
  display: block;
  width: 350px;
  height: 2px;
  background: #707070;
  right: -250px;
  top: 50%;
  position: absolute;
}
.invest:lang(ar):after{
  left: -250px;
  right: auto;
}
.part {
  background: var(--color-secondary);
}

.part h3 {
  padding-left: 30px;
  padding-top: 40px;
  padding-right: 30px;
  font-size: 30px;
  color: var(--white-color);
}

.set-part {
  padding-top: 60px;
}

.part p {
  padding-left: 30px;
  padding-top: 20px;
  padding-right: 30px;
  color: var(--white-color);
}

.part-grey {
  background: #F1F1F1;
  padding: 20px;
}

.interested {
  background: #FAA61A;
  padding: 80px;
  border-radius: 69px;
}

.interested h3 {
  font-size: 30px;
  font-weight: 600;
}

.interested h6 {
  font-size: 20px;
  font-weight: 600;
  padding-top: 20px;
}

.interested a {
  border: 2px solid var(--black-color);
  border-radius: 50px;
  padding: 10px;
  text-align: center;
  position: relative;
  left: 40%;
  margin-top: 20px;
  display: inline-block;
  width: 20%;
  color: var(--black-color);
}
.interested a:lang(ar){
  right: 40%;
  left: auto;
}
.in-con {
  padding-top: 60px;
}

.img-h {
  position: absolute;
  left: 75%;
  z-index: 1;
  top: 320px;
  height: 80px;
}
.img-h:lang(ar){
  right: 75%;
  left: auto;
}
.boxed {
  background: #FAA61A 0% 0% no-repeat padding-box;
  border-radius: 32px;
  opacity: 1;
  margin-top: 10px;
  width: 400px;
  height: 400px;
}

.boxed .lap {
  width: 250px;
  position: relative;
  top: 40px;
  left: -20px;
  border-radius: 10px;
  transform: translate(50%, 0) scale(1.5);
  height: 250px;
}
.boxed .lap:lang(ar){
  right: -20px;
  left: auto;
  transform: translate(-50%, 0) scale(1.5);
}
.space-section {
  padding-top: 50px;
  padding-bottom: 50px;
}
.partner_img{
  width: 100%;
  height: 300px;
  object-fit: contain;
}
@media only screen and (max-width: 1199px) and (min-width: 320px) {

  .juman:before {
    content: "";
    display: block;
    width: 0px;
    height: 3px;
    background: transparent;
    left: 0px;
    top: 50%;
    position: absolute;
  }
  .juman:lang(ar):before{
    right: 0px;
  }
  .juman:after {
    content: "";
    display: block;
    width: 0px;
    height: 3px;
    background: transparent;
    right: 0px;
    top: 50%;
    position: absolute;
  }
  .juman:lang(ar):after{
    left: 0px;
  }
  .invest:before {
    content: "";
    display: block;
    width: 0px;
    height: 2px;
    background: transparent;
    left: 0px;
    top: 50%;
    position: absolute;
  }
  .invest:lang(ar):before{
    right:0px;
  }
  .invest:after {
    content: "";
    display: block;
    width: 0px;
    height: 2px;
    background: transparent;
    right: 0px;
    top: 50%;
    position: absolute;
  }
  .invest:lang(ar):after{
    left: 0px;
  }
  .sec-t {
    height: auto;
  }

  .about img {
    margin-top: 0px;
  }

  .interested a {
    border: 2px solid var(--black-color);
    border-radius: 50px;
    padding: 10px;
    text-align: center;
    position: relative;
    left: 10%;
    margin-top: 20px;
    display: inline-block;
    width: 80%;
    color: var(--black-color);
  }
  .interested a:lang(ar){
    right: 10%;
    left: auto;
  }
  .interested {
    padding: 20px;
    border-radius: 0;
  }

  .interested h6 {
    line-height: 1.6;
  }

  .interested h3 {
    line-height: 1.6;
  }

  .hr {
    width: 100px;
    background: #000;
    border-width: 3px;
    position: relative;
    top: -31px;
    left: 47%;
  }
  .hr:lang(ar){
    right: 47%;
    left: auto;
  }
  .img-h{
   display: none;
  }
  .boxed{
    max-width: 100%;
    margin-top:50px
  }
  .boxed .lap {
    width: 220px;
    top: 40px;
  }
  .space-section{
    padding-top: 0px;
  }
  .number p{
    margin-bottom: 50px;
  }
  .about{
    padding: 15px;
  }
  .about .nav-pills li+li {
    margin-left: 20px;
  }
}