<section class="get">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1 class="text-center">At Juman, we promote collaborative<br> manufacturing partnerships</h1>

      </div>
    </div>
  </div>
</section>
<section class="space-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <h2>What Do We Do</h2>
        <hr class="hr">
        <p>Established in 2005 Juman Industrial Investment Company (Juman) is a family-owned business, based in Al
          Khobar, Saudi Arabia that is focused on investing and operating Joint Ventures and wholly- owned subsidiaries
          in the Building Material sector.</p>
        <p> Juman’s operations extend the Kingdom, the GCC, and neighboring Middle Eastern countries. Juman’s current
          portfolio includes operating companies that manufacture, supply and install wallsolutions, ceiling systems,
          roofing products, flooring systems, and building adhesives.</p>
      </div>
      <div class="col-md-4 col-sm-6 inn ">

        <div class="boxed">
          <p class="text-right"><img src="../../assets/img/dot.png" class="img-fluid img-h"></p>
          <img src="../../assets/img/lap.png" class="lap">
        </div>
      </div>


    </div>


    <br>

  </div>
</section>

<section class="sec-t">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center juman">Juman in Companies Consulted</h1>
      </div>
    </div>
    <div class="row number">
      <div class="col-md-4">
        <h3 class="text-center">500+</h3>
        <p>Consolidated Revenue</p>
      </div>
      <div class="col-md-4">
        <h3 class="text-center">400+</h3>
        <p>Employees</p>
      </div>
      <div class="col-md-4">
        <h3 class="text-center">10</h3>
        <p>Countries</p>
      </div>
    </div>
  </div>
</section>

<section id="about" class="about">
  <div class="container">

    <div class="row g-4 g-lg-5">
      <div class="col-lg-12">
        <!-- Tabs -->
        <div class="row">
          <div class="col-md-5"></div>
          <div class="col-md-4">
            <ul class="nav nav-pills mb-3" role="tablist">
              <li><a class="nav-link active" data-bs-toggle="pill" href="#tab1" aria-selected="true" role="tab">Our
                  Vision</a></li>
              <li><a class="nav-link" data-bs-toggle="pill" href="#tab2" aria-selected="false" tabindex="-1"
                  role="tab">Our Mission</a></li>
              <li><a class="nav-link" data-bs-toggle="pill" href="#tab3" aria-selected="false" tabindex="-1"
                  role="tab">Values</a></li>
            </ul><!-- End Tabs -->
          </div>
        </div>
        <!-- Tab Content -->
        <div class="tab-content">

          <div class="tab-pane fade show active" id="tab1" role="tabpanel">
            <div class="row">
              <div class="col-md-5">
                <img src="../../assets/img/g1.png" width="400px" height="450px" class="img-po">
              </div>
              <div class="col-md-5">

                <p>Operate an integrated portfolio of Building Solution companies that are recognized as the preferred
                  partner to address the unique ambitions of the regions building market</p>
              </div>
            </div>
          </div><!-- End Tab 1 Content -->
          <div class="tab-pane fade show" id="tab2" role="tabpanel">
            <div class="row">
              <div class="col-md-5">
                <img src="../../assets/img/g1.png" width="400px" height="450px" class="img-po">
              </div>
              <div class="col-md-5">
                <p>Operate an integrated portfolio of Building Solution companies that are recognized as the preferred
                  partner to address the unique ambitions of the regions building market</p>
              </div>
            </div>


          </div>
          <!-- tab end -->
          <div class="tab-pane fade show" id="tab3" role="tabpanel">
            <div class="row">
              <div class="col-md-5">
                <img src="../../assets/img/g1.png" width="400px" height="600px" class="img-po">
              </div>
              <div class="col-md-5">
                <p>Operate an integrated portfolio of Building Solution companies that are recognized as the preferred
                  partner to address the unique ambitions of the regions building market</p>
              </div>


            </div>
            <!-- tab end -->
          </div>

        </div>
      </div>
    </div>
  </div>
</section>


<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center invest">Investment Strategy</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">


        <div class="col-lg-12">
          <owl-carousel-o [options]="customOptions" class="new">
            <ng-template carouselSlide>
              <div class="box">
                <img src="../../assets/img/discipline.svg">
                <h2>Disciplined</h2>
                <p>We target investments in the Building Materials sector that have a clear opportunity for value</p>
                <a href="">Read More</a>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="box1">
                <img src="../../assets/img/success.svg">
                <h2>Ambitious</h2>
                <p>We target investments in the Building Materials sector that have a clear opportunity for value</p>
                <a href="">Read More</a>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="box3">
                <img src="../../assets/img/accessibility.svg">
                <h2>Active</h2>
                <p>We target investments in the Building Materials sector that have a clear opportunity for value</p>
                <a href="">Read More</a>
              </div>
            </ng-template>

          </owl-carousel-o>
        </div>


      </div>
    </div>
  </div>
</section>

<section class="set-part">
  <div class="container-fluid" style="padding:0px;">
    <div class="row g-0">
      <div class="col-md-6 part">
        <h3>SUCESSFULL PARTNER</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.</p>
      </div>
      <div class="col-md-6 part-grey">
        <owl-carousel-o [options]="success" class="new">
          <ng-template carouselSlide>
            <div class="slide">
              <img src="../../assets/img/moon.png" alt="img 1">
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="slide">
              <img src="../../assets/img/moon.png" alt="img 1">
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="slide">
              <img src="../../assets/img/moon.png" alt="img 1">
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="slide">
              <img src="../../assets/img/moon.png" alt="img 1">
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="slide">
              <img src="../../assets/img/moon.png" alt="img 1">
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="slide">
              <img src="../../assets/img/moon.png" alt="img 1">
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>

<section class="in-con">
  <div class="container">
    <div class="row interested">
      <div class="col-md-12">
        <h3 class="text-center">Interested in working with us?</h3>
        <h6 class="text-center">Contact us now, and we are ready to do what you want</h6>
        <a href="" class="text-center">CONTACT NOW</a>
      </div>
    </div>
  </div>
</section>