<section class="bgimage" style="background: url('{{endpoint}}/{{item.path}}');" *ngFor="let item of getBanners">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1>
                    <span *ngIf="dir == 'ltr'" [innerHTML]="item.erTitle"></span>
                    <span *ngIf="dir == 'rtl'" [innerHTML]="item.arTitle"></span>
                </h1>
            </div>
        </div>
    </div>
</section>
<section class="contact-i">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="con-title">{{"DROPYOURMESSAGEHERE" | translate}}</h1>
            </div>
            <div class="col-md-12">
                <div class="form-area">
                    <form role="form" [formGroup]="contactForm"><br style="clear: both;">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>{{'YourName' | translate}}*</label>
                                    <input id="name" class="form-control" name="name" type="text" formControlName="name"
                                        [ngClass]="{ 'is-invalid': submitted && f['name'].errors}">
                                    <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                                        <div *ngIf="f['name'].errors['required']">{{'Required' | translate}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>{{"YourEmailAddress" | translate}}*</label>
                                    <input id="email" class="form-control" name="email" type="email"
                                        formControlName="email"
                                        [ngClass]="{ 'is-invalid': submitted && f['email'].errors}">
                                    <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                                        <div *ngIf="f['email'].errors['required']">{{'Required' | translate}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>{{"PhoneNumber" | translate}}*</label>
                                    <input id="name" class="form-control" name="name" type="number"
                                        formControlName="mobileNumber"
                                        [ngClass]="{ 'is-invalid': submitted && f['mobileNumber'].errors}">
                                    <div *ngIf="submitted && f['mobileNumber'].errors" class="invalid-feedback">
                                        <div *ngIf="f['mobileNumber'].errors['required']">{{'Required' | translate}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>{{"Message" | translate}}*</label>
                                    <textarea id="message" class="form-control rounded border-white mb-3 form-text-area"
                                        rows="5" cols="30" formControlName="message"
                                        [ngClass]="{ 'is-invalid': submitted && f['message'].errors}"></textarea>
                                    <div *ngIf="submitted && f['message'].errors" class="invalid-feedback">
                                        <div *ngIf="f['message'].errors['required']">{{'Required' | translate}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary pull-left" (click)="onSubmitData()">{{"SubmitForm"
                            | translate}}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<section class="phone-sec">
    <div class="container">
        <div class="row" *ngFor="let item of getFooter">
            <div class="col-md-4">
                <div class="box">
                    <p><img src="assets/img/loc.svg"></p>
                    <p>{{item.address}}</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box">
                    <p><img src="assets/img/phone.svg"></p>
                    <p>{{item.mobileNumber}}</p>
                </div>

            </div>
            <div class="col-md-4">
                <div class="box">
                    <p><img src="assets/img/mail.svg"></p>
                    <p>{{item.email}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
<br>


<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <iframe width="100%" height="500px" frameBorder="0" [src]="urlSafe"></iframe>
            </div>
        </div>
    </div>
</section>