.bgimage {
  width:100%;
  height:400px;
  background-repeat: no-repeat !important;
  background-position:100% 100% !important;
  background-size:contain !important;
  height:500px;
  padding-top:120px;
      }
  .bgimage h1 {
    text-align: center;
    color:white;
    font-size: 50px;
    padding-top:8rem;
    text-shadow:2px 2px #333;
  }
  .board-box{
    background:var(--color-secondary);
border: 1px solid #707070;
border-radius: 30px;
padding:30px;
width:250px;
height:150px;
height:150px;
opacity: 1;
  }
  .board-box h5{
    color: var(--white-color);
    font-size:20px;
    text-align: center;
    padding-top:30px;
  }
  .board-boxx{
    background:#37C2D4;
border-radius: 30px;
padding:30px;
width:250px;
height:150px;
height:150px;
opacity: 1;
  }
  .board-boxx h5{
    color: var(--white-color);
    font-size:20px;
    text-align: center;
    padding-top:30px;
  }
  .set-space{
    padding:30px;
  }
  .space-row{
    padding-top:50px;
  }
  .ceo p{
text-align: right;
  }
  .ceo h4{
    text-align:right;
    font-size:25px;
  }
  .chair h4{
    font-size:25px;
  }
  @media only screen and (max-width: 1199px) and (min-width: 320px){
    .bgimage{
      width:100%;
height:400px;
background-repeat: no-repeat !important;
background-position:100% 100% !important;
background-size:cover !important;
height:500px;
padding-top:120px;
    }
    .chair h4{
      line-height: 1.6;
padding-top:14px;
    }
    .bgimage h1{
line-height: 1.6;
    }
  }