<section class="bgimage" style="background: url('{{endpoint}}/{{item.path}}');" *ngFor="let item of getBanners">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1>
          <span *ngIf="dir == 'ltr'" [innerHTML]="item.erTitle"></span>
          <span *ngIf="dir == 'rtl'" [innerHTML]="item.arTitle"></span>
        </h1>
      </div>
    </div>
  </div>
</section>

<section class="set-space">
  <div class="container">
    <div class="row space-row" *ngFor="let item of chairmanSec">
      <div class="col-md-3">
        <img src="{{endpoint}}/{{item.images[0].path}}" class="logo-pos">
      </div>
      <div class="col-md-7 chair">
        <h4>
          <span *ngIf="dir == 'ltr'">{{item.erTitle}}</span>
          <span *ngIf="dir == 'rtl'">{{item.arTitle}}</span>
        </h4>
        <h5 class="heading_tit">
          <span *ngIf="dir == 'ltr'">{{item.additionalInfo.sectionHead}}</span>
          <span *ngIf="dir == 'rtl'">{{item.additionalInfo.sectionHeadAr}}</span>
        </h5>
        <p [innerHTML]="item.erContent" *ngIf="dir == 'ltr'"></p>
        <p [innerHTML]="item.arContent" *ngIf="dir == 'rtl'"></p>
      </div>
      <div class="col-md-3"></div>
    </div>

    <div class="row space-row"  *ngFor="let item of ceoSec">
      <div class="col-md-3">
        <img src="{{endpoint}}/{{item.images[0].path}}">
      </div>
      <div class="col-md-7 chair">
        <h4>
          <span *ngIf="dir == 'ltr'">{{item.erTitle}}</span>
          <span *ngIf="dir == 'rtl'">{{item.arTitle}}</span>
        </h4>
        <h5 class="heading_tit">
          <span *ngIf="dir == 'ltr'">{{item.additionalInfo.sectionHead}}</span>
          <span *ngIf="dir == 'rtl'">{{item.additionalInfo.sectionHeadAr}}</span>
        </h5>
        <p [innerHTML]="item.erContent" *ngIf="dir == 'ltr'"></p>
        <p [innerHTML]="item.arContent" *ngIf="dir == 'rtl'"></p>
      </div>
      
    </div>

    <div class="row space-row" *ngFor="let item of boaDD">
      <div class="col-md-3">
        <img src="{{endpoint}}/{{item.images[0].path}}" class="logo-pos1">
      </div>
      <div class="col-md-7 chair">
        <h4>
          <span *ngIf="dir == 'ltr'">{{item.erTitle}}</span>
          <span *ngIf="dir == 'rtl'">{{item.arTitle}}</span>
        </h4>
        <h5 class="heading_tit">
          <span *ngIf="dir == 'ltr'">{{item.additionalInfo.sectionHead}}</span>
          <span *ngIf="dir == 'rtl'">{{item.additionalInfo.sectionHeadAr}}</span>
        </h5>
        <p [innerHTML]="item.erContent" *ngIf="dir == 'ltr'"></p>
        <p [innerHTML]="item.arContent" *ngIf="dir == 'rtl'"></p>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</section>