<section class="bgimage" style="background: url({{endpoint}}/{{item.path}});" *ngFor="let item of getBanners">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1>
          <span *ngIf="dir == 'ltr'">{{item.erTitle}}</span>
          <span *ngIf="dir == 'rtl'">{{item.arTitle}}</span>
        </h1>
      </div>
    </div>
  </div>
</section>

<section class="set-space">
  <div class="container">
    <div class="row space-row" >
      <div class="col-md-3">
        <div class="board-box" *ngFor="let item of boardHead">
          <h5>
            <span *ngIf="dir == 'ltr'">{{item.erTitle}}</span>
            <span *ngIf="dir == 'rtl'">{{item.arTitle}}</span>
          </h5>
        </div>
      </div>
      <div class="col-md-8 chair" *ngFor="let item of chairmanSec">
        <h4>
          <span *ngIf="dir == 'ltr'">{{item.erTitle}}</span>
          <span *ngIf="dir == 'rtl'">{{item.arTitle}}</span>
        </h4>
        <p [innerHTML]="item.erContent" *ngIf="dir == 'ltr'"></p>
        <p [innerHTML]="item.arContent" *ngIf="dir == 'rtl'"></p>
      </div>
    </div>
    <div class="row space-row">
      <div class="col-md-8 ceo" *ngFor="let item of ceoSec">
        <h4>
          <span *ngIf="dir == 'ltr'">{{item.erTitle}}</span>
          <span *ngIf="dir == 'rtl'">{{item.arTitle}}</span>
        </h4>
        <p [innerHTML]="item.erContent" *ngIf="dir == 'ltr'"></p>
        <p [innerHTML]="item.arContent" *ngIf="dir == 'rtl'"></p>
      </div>
      <div class="col-md-4">
        <div class="board-boxx" *ngFor="let item of boardHead">
          <h5>
            <span *ngIf="dir == 'ltr'">{{item.erContent}}</span>
            <span *ngIf="dir == 'rtl'">{{item.arContent}}</span>
          </h5>
        </div>
      </div>
    </div>
  </div>
</section>