.bgimage {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  height: 500px;
  padding-top: 120px;
}

.bgimage h1 {
  text-align: center;
  color: white;
  font-size: 50px;
  padding-top: 8rem;
  text-shadow: 2px 2px #333;
}

.board-box {
  background: var(--color-secondary);
  border: 1px solid #707070;
  border-radius: 30px;
  padding: 30px;
  width: 250px;
  height: 150px;
  height: 150px;
  opacity: 1;
}

.board-box h5 {
  color: var(--white-color);
  font-size: 20px;
  text-align: center;
  padding-top: 30px;
}

.board-boxx {
  background: #37C2D4;
  border-radius: 30px;
  padding: 30px;
  width: 250px;
  height: 150px;
  height: 150px;
  opacity: 1;
}

.board-boxx h5 {
  color: var(--white-color);
  font-size: 20px;
  text-align: center;
  padding-top: 30px;
}

.set-space {
  padding: 30px;
}

.set_nobanner_height {
  margin-top: 7rem;
}

.space-row {
  padding-top: 50px;
}

.ceo p {
  text-align: right;
}

.ceo p:lang(ar) {
  text-align: left;
}

.ceo h4 {
  text-align: right;
  font-size: 25px;
}

.ceo h4:lang(ar) {
  text-align: left;
}

.chair h4 {
  font-size: 25px;
  padding-top: 20px;
  font-weight: 600;
}

.chair p {
  text-align: justify;
}

.heading_tit {
  font-size: var(--heading-h6);
  font-weight: 700;
  margin-top: -5px;
}

.heading_tit1 {
  font-size: var(--heading-h6);
  font-weight: 700;
  text-align: right;
}

.heading_tit1:lang(ar) {
  text-align: left;
}

.set-space p {
  padding-top: 20px;
}

/* .logo-pos {
  width: 100%;
  height: 300px;
}
.logo-pos1{
  width: 280px;
  height: 300px;
} */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .space-row {
    padding-top: 0px;
  }

  .set_nobanner_height {
    margin-top: 10rem;
  }

  .bgimage {
    background-repeat: no-repeat !important;
    background-size: contain !important;
    margin-top: 7.5rem;
    height: auto;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .set_nobanner_height {
    margin-top: 8rem !important;
  }
}

@media only screen and (max-width: 1199px) and (min-width: 320px) {
  .chair h4 {
    line-height: 1.6;
    padding-top: 14px;
  }

  .bgimage h1 {
    line-height: 1.6;
    padding-top: 2rem;
  }

  .set-space {
    padding: 15px;
  }

  .set_nobanner_height {
    margin-top: 10rem;
  }
}