<section class="bgimage" style="background: url(../../assets/img/back-op.png);">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h1>Board of Director</h1>
         
        </div>
      </div>
    </div>
  </section>

<section class="set-space">
    <div class="container">
        <div class="row space-row">
            <div class="col-md-3">
                <div class="board-box">
<h5>Chairman</h5>
</div>
            </div>
            <div class="col-md-8 chair">
                <h4>Faysal Al Bassam (Chairman):</h4>
                <p>Faysal Al Bassam is Juman Industrial Investment Company’s Founder and Chairman. He served 36 years at Saudi Aramco retiring from the company as its Vice President of Government Relations and Public Affairs. He was also a founding member of Al Youm Newspaper and a board of director at the Saudi Arabian Investment Bank. Faysal Al Bassam graduated from Pomona College with an undergraduate degree in Economics and completed an executive MBA at Harvard University..</p>
            </div>
        </div>
        <div class="row space-row">
           
            <div class="col-md-8 ceo">
                <h4>Faysal Al Bassam (CEO):</h4>
                <p>Faysal Al Bassam is Juman Industrial Investment Company’s Founder and Chairman. He served 36 years at Saudi Aramco retiring from the company as its Vice President of Government Relations and Public Affairs. He was also a founding member of Al Youm Newspaper and a board of director at the Saudi Arabian Investment Bank. Faysal Al Bassam graduated from Pomona College with an undergraduate degree in Economics and completed an executive MBA at Harvard University..</p>
            </div>
            <div class="col-md-4">
                <div class="board-boxx">
<h5>CEO</h5>
</div>
            </div>
        </div>
    </div>
</section>