<section class="bgimage" style="background: url({{endpoint}}/{{item.path}});" *ngFor="let item of getBanners">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1>
          <span *ngIf="dir == 'ltr'">{{item.erTitle}}</span>
          <span *ngIf="dir == 'rtl'">{{item.arTitle}}</span>
        </h1>
      </div>
    </div>
  </div>
</section>

<section class="gcc">
  <div class="container">
    <div class="row" *ngFor="let item of gccContentSec">
      <div class="col-md-6">
        <br>
        <p [innerHTML]="item.erContent" *ngIf="dir == 'ltr'"></p>
        <p [innerHTML]="item.arContent" *ngIf="dir == 'rtl'"></p>
      </div>
      <div class="col-md-4">
        <img src="{{endpoint}}/{{item.images[0].path}}" class="img-career img-fluid" />
      </div>
      <a href="" class="btn-orange">{{"knowMore" | translate}}</a>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="gcc nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item" role="presentation" *ngFor='let item of gccTabSecArray;let i = index'>
            <button class="nav-link" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button"
              role="tab" aria-controls="pills-home" aria-selected="true" (click)="tabClick(item,i)"
              [ngClass]="{'active': selectedItem === i}">
              <span *ngIf=" dir == 'ltr'">{{item.erTitle}}</span>
              <span *ngIf=" dir == 'rtl'">{{item.arTitle}}</span>
            </button>
          </li>
        </ul>

        <div class="tab-content" id="pills-tabContent">
          <br>
          <hr class="hr">
          <div>
            <div class="tab-pane fade show" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
              <div class="row set-space">
                <div class="col-md-3" *ngFor="let img of imagesArray">
                  <img src="{{endpoint}}/{{img.path}}">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>