<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-light" [ngClass]="{'headBackground': headBackground}">
    <div class="top_header">
     <p class="pb-0 top_para">
      <a *ngIf="lang == 'en'" (click)="switchLang('ar')">AR <img src="../../assets/img/saudi_flag.png" class="flag_img"></a>
      <a *ngIf="lang == 'ar'" (click)="switchLang('en')">EN <img src="../../assets/img/saudi_flag.png" class="flag_img"></a>
     </p>
    </div>
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/"><img src="../../assets/img/main-logo.png" class="img-fluid"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
          aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation"
          (click)="isCollapsed = !isCollapsed">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor03" [ngbCollapse]="isCollapsed">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="/" [ngClass]="{'active': page == 'home'}"
                (click)="pageActive('home')">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/about" [ngClass]="{'active': page == 'about'}"
                (click)="pageActive('about')">who we are</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/operating" [ngClass]="{'active': page == 'operating'}"
                (click)="pageActive('operating')">Operating Companies</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/bod" [ngClass]="{'active': page == 'bod'}"
                (click)="pageActive('bod')">Board of Director</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [ngClass]="{'active': page == 'service'}">Services</a>
              <div class="dropdown-content">
                <a routerLink="/gcc" (click)="pageActive('service')">Juman Installation</a>
                <a routerLink="/market" (click)="pageActive('service')">Juman Market place</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/product" [ngClass]="{'active': page == 'product'}"
                (click)="pageActive('product')">Product</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/career" [ngClass]="{'active': page == 'career'}"
                (click)="pageActive('career')">Career</a>
            </li>
            <li class="nav-item">
              <a class="nav-link btn-yellow" routerLink="/contact">CONTACT US</a>
            </li>
          </ul>
        </div>
      </div>
  </nav>
</header>