.gcc p {
  padding: 10px;
}

.gcc-p img {
  width: 100%;
  height: auto;
}

.img-mar {
  padding-top: 28px;
}

.bgimage {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  height: 500px;
  padding-top: 120px;
}

.bgimage h1 {
  text-align: center;
  color: white;
  padding-top: 8rem;
  text-shadow: 2px 2px #333;
}

.set_nobanner_height {
  margin-top: 9rem;
}

.tex-h h4 {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.6;
}

.img-career {
  width: 260px;
  height: 400px;
}

.tex-h h4 {
  font-size: 40px;
  padding-top: 80px;
}

/* .gcc-p {
  padding-top: 60px;
} */

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .space-section {
    padding-top: 0;
  }

  .bgimage {
    background-repeat: no-repeat !important;
    background-size: contain !important;
    margin-top: 7.5rem;
    height: auto;
  }

  .bgimage h1 {
    line-height: 1.6;
    padding-top: 2rem;
  }
}

@media only screen and (max-width: 1199px) and (min-width: 320px) {
  .play_icon img {
    width: 100%;
    height: auto;
  }
}