:root {
    --main-color: #FAA61A;
    --color-secondary: #11143B;
    --white-color: #ffffff;
    --color: black;
    --main-dark-color: #316C3B;
    --text-color: #646464;
    --text-dark-color: #030202;
    --text-light-color: #6E6E6E;
    --form-color: #ababab;
    --border-color: #d2d2d2;
    --accord-color: #F3F3F3;
    --white-color: #ffffff;
    --black-color: #000000;
    --heading-h1: 35px;
    --heading-h2: 30px;
    --heading-h3: 25px;
    --heading-h4: 20px;
    --heading-h5: 18px;
    --heading-h6: 16px;
    --para-size: 14px;
    --small-size: 12px;
    --v-small-size: 10px;
    --font-family: 'Noto Sans', sans-serif;
}

@font-face {
    font-family: 'DroidKufi-Regular';
    src: url('assets/fonts/DroidKufiRegular.ttf');
}

:root:lang(ar) {
    --font-family: 'DroidKufi-Regular';
}

html,
body {
    height: 100%;
    font-family: var(--font-family);
}

body,
.mat-h1,
.mat-title,
.mat-typography .mat-h1,
.mat-typography .mat-title,
.mat-typography h1,
.mat-h2,
.mat-subheading-1,
.mat-typography .mat-h2,
.mat-typography .mat-subheading-1,
.mat-typography h2,
.mat-h3,
.mat-subheading-1,
.mat-typography .mat-h3,
.mat-typography .mat-subheading-1,
.mat-typography h3,
.mat-h4,
.mat-subheading-1,
.mat-typography .mat-h4,
.mat-typography .mat-subheading-1,
.mat-typography h4,
.mat-h5,
.mat-subheading-1,
.mat-typography .mat-h5,
.mat-typography .mat-subheading-1,
.mat-typography h5,
.mat-h6,
.mat-subheading-1,
.mat-typography .mat-h6,
.mat-typography .mat-subheading-1,
.mat-typography h6,
.mat-body,
.mat-body-1,
.mat-typography .mat-body,
.mat-typography .mat-body-1,
.mat-typography {
    font-family: var(--font-family) !important;
}

.mat-typography {
    font-family: var(--font-family) !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
}

a {
    text-decoration: none !important;
    cursor: pointer;
}

p {
    font-size: 16px;
    line-height: 1.6;

}

img {
    max-width: 100%;
    height: auto;
}

/* .new .owl-theme .owl-nav [class*=owl-] {
    color: #000 !important;
    font-size: 72px !important;
    background: transparent !important;
    position: relative;
    top: -70px !important;
} */
.new .owl-carousel .owl-nav .owl-next {
    position: relative;
    left: -55%;
    top: -252px;
    color: #000 !important;
    font-size: 72px !important;
    background: transparent !important
}
.new .owl-carousel .owl-nav .owl-next :lang(ar){
    right: -55%;
    left: auto;
}
.new .owl-carousel .owl-nav .owl-prev {
    position: relative;
    right: -55%;
    top: -252px;
    color: #000 !important;
    font-size: 72px !important;
    background: transparent !important
}
.new .owl-carousel .owl-nav .owl-prev:lang(ar){
    left: -55%;
    right: auto;
}
.newr .owl-theme .owl-dots .owl-dot.active span {
    background: var(--main-color);
}

.client .owl-theme .owl-dots .owl-dot span {
    background: #FDE4BA;
}


.client .owl-theme .owl-dots .owl-dot.active span {
    background: var(--main-color) !important;
}

.set-part .owl-theme .owl-dots .owl-dot span {
    width: 10px;
    position: relative;
    top: 65px;
    left: 231px;
}
.set-part .owl-theme .owl-dots .owl-dot span:lang(ar){
    right: 231px;
    left: auto;
}
.set-part .owl-theme .owl-dots .owl-dot.active span {
    background: var(--main-color);
}

.testimonal .owl-dots .owl-dot span {
    width: 10px;
}

.testimonal .owl-theme .owl-dots .owl-dot.active span {
    background: var(--white-color);
}

.owl-carousel.owl-rtl .owl-item {
    float: left !important;
    direction: ltr !important;
}

.owl-carousel.owl-rtl .owl-item:lang(ar) {
    float: right !important;
    direction: rtl !important;
}

.navbar-expand-lg {
    flex-wrap: wrap !important;
}

.navbar-collapse {
    flex-grow: 0 !important;
}

.navbar-expand-lg .navbar-collapse {
    margin: 0 20px 0 0;
}


@media only screen and (max-width: 1199px) and (min-width: 320px) {
    .new .owl-carousel .owl-nav .owl-next {
        position: relative;
        top: 0px;
        left: 0%;
        color: #000 !important;
        font-size: 72px !important;
        background: transparent !important
    }

    .new .owl-carousel .owl-nav .owl-prev {
        position: relative;
        right: 0%;
        top: 0px;
        color: #000 !important;
        font-size: 72px !important;
        background: transparent !important
    }

    .nav-link.active[_ngcontent-wov-c103]:before {
        content: '';
        position: absolute;
        top: 6.5rem;
        width: 30px;
        height: 2px;
        border-radius: 10px;
        background: var(--main-color);
    }

    .set-part .owl-theme .owl-dots .owl-dot span {
        width: 10px;
        position: relative;
        top: 65px;
        left: 31px;
    }

    .navbar-expand-lg .navbar-nav {
        padding-left: 10px !important;
    }
}