<section class="testimonal">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <owl-carousel-o [options]="car">
          <ng-template carouselSlide>
            <div class="row" style="background:url(../../assets/img/banner.png);height:600px;">
              <div class="col-md-6">

              </div>

            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="row" style="background:url(../../assets/img/banner.png);height:600px;">
              <div class="col-md-6">

              </div>

            </div>
          </ng-template>

        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>

<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h6>ABOUT US</h6>
        <p>Established in 2005 Juman Industrial Investment Company (Juman) is a family-owned business, based in Al
          Khobar, Saudi Arabia that is focused on investing and operating Joint Ventures and wholly- owned subsidiaries
          in the Building Material sector. Jumans operations extend the Kingdom</p>
        <img src="../../assets/img/juman.png" class="jum">
        <br>
        <a href="">Download <img src="../../assets/img/downward-arrow.png"></a>
      </div>
      <div class="col-md-6">
        <h6>What Do We Do</h6>
        <hr class="hr">
        <p>At Juman, we promote collaborative manufacturing partnerships in building materials and invest in new
          building solutions and services to complement these partnerships. Juman’s operations extend the Kingdom of
          Saudi Arabia, the GCC, and neighboring Middle Eastern countries. Juman’s current portfolio includes operating
          companies that manufacture, supply and install wall Solution,Ceiling systems, roofing products, flooring
          systems,and construction adhesives</p>
      </div>
    </div>
  </div>
</section>

<section class="set-part">
  <div class="container-fluid" style="padding:0px;">
    <div class="row g-0">
      <div class="col-md-6">
        <owl-carousel-o [options]="successs" class="newr">
          <ng-template carouselSlide>
            <div class="slide">
              <img src="../../assets/img/g1.png">
            </div>
          </ng-template>

        </owl-carousel-o>
      </div>
      <div class="col-md-6 part-two">
          <div class="col-md-6">
            <div class="logo-back">
              <img src="../../assets/img/logo1.png" class="logo-pos">
            </div>
          </div>
        <h3>SUCESSFULL PARTNER</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.</p>
      </div>

    </div>
  </div>
</section>
<section class="service">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="markkk" style="background: url(../../assets/img/gcc.png);height:450px;width:400px;margin-top:0rem;">
          <img src="../../assets/img/logo-gcc.png" class="img-fluid im-tt" style="padding:30px;margin-top:-2rem;">
          <a href="" class="btn-read">Read More</a>
        </div>

      </div>
      <div class="col-md-6">
        <h3 class="title">OUR SERVICE</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.</p>
      </div>

      <div class="col-md-4">
        <br><br>
        <img src="../../assets/img/services.png">
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-6">
        <div class="markkk"
          style="background: url(../../assets/img/jmart.png);height:400px;width:500px;margin-top:-6rem;background-position: center;">
          <img src="../../assets/img/logo-m.png" class="img-fluid im-tt" style="padding:30px;margin-top:-2rem;">
          <a href="" class="btn-readd">Read More</a>
        </div>


      </div>
    </div>
  </div>
</section>

<section class="set-part">
  <div class="container-fluid" style="padding:0px;">
    <div class="row g-0">
      <div class="col-md-6 part">
        <h3>SUCESSFULL PARTNER</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.</p>
      </div>
      <div class="col-md-6 part-grey">
        <owl-carousel-o [options]="successs" class="newr">
          <ng-template carouselSlide>
            <div class="slide">
              <img src="../../assets/img/moon.png" alt="img 1">
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="slide">
              <img src="../../assets/img/moon.png" alt="img 1">
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="slide">
              <img src="../../assets/img/moon.png" alt="img 1">
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="slide">
              <img src="../../assets/img/moon.png" alt="img 1">
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="slide">
              <img src="../../assets/img/moon.png" alt="img 1">
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="slide">
              <img src="../../assets/img/moon.png" alt="img 1">
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>

<section class="client">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <span class="cli">OUR CLIENTS</span>
        <h1 class="trust">TRUSTED BY</h1>
      </div>
      <div class="col-md-12 car">
        <owl-carousel-o [options]="success" class="new">
          <ng-template carouselSlide>
            <div class="slide">
              <img src="../../assets/img/moon.png" alt="img 1">
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="slide">
              <img src="../../assets/img/moon.png" alt="img 1">
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="slide">
              <img src="../../assets/img/moon.png" alt="img 1">
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="slide">
              <img src="../../assets/img/moon.png" alt="img 1">
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="slide">
              <img src="../../assets/img/moon.png" alt="img 1">
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="slide">
              <img src="../../assets/img/moon.png" alt="img 1">
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>

<section class="testimonal">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <span class="cli">OUR CLIENTS</span>
        <h1 class="trust1">Testimonal</h1>
      </div>
      <div class="col-md-12 yes">
        <owl-carousel-o [options]="car" class="new">
          <ng-template carouselSlide>
            <div class="row">
              <div class="col-md-3">
                <img src="../../assets/img/chair.png" class="img-u">
                <h6>Client Name</h6>
              </div>
              <div class="col-md-9">
                <img src="../../assets/img/quote.svg" class="quote">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip ex ea commodo consequat.</p>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="row">
              <div class="col-md-3">
                <img src="../../assets/img/chair.png" class="img-u">
                <h6>Client Name</h6>
              </div>
              <div class="col-md-9">
                <img src="../../assets/img/quote.svg" class="quote">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip ex ea commodo consequat.</p>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="row">
              <div class="col-md-3">
                <img src="../../assets/img/chair.png" class="img-u">
                <h6>Client Name</h6>
              </div>
              <div class="col-md-9">
                <img src="../../assets/img/quote.svg" class="quote">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip ex ea commodo consequat.</p>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="row">
              <div class="col-md-3">
                <img src="../../assets/img/chair.png" class="img-u">
                <h6>Client Name</h6>
              </div>
              <div class="col-md-9">
                <img src="../../assets/img/quote.svg" class="quote">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip ex ea commodo consequat.</p>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="row">
              <div class="col-md-3">
                <img src="../../assets/img/chair.png" class="img-u">
                <h6>Client Name</h6>
              </div>
              <div class="col-md-9">
                <img src="../../assets/img/quote.svg" class="quote">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip ex ea commodo consequat.</p>
              </div>
            </div>
          </ng-template>

        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>

<section class="game-section">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <p class="latest">LATEST NEWS</p>
        <h4 class="roln">READ OUR LATEST NEWS</h4>
      </div>
      <div class="col-md-2">
        <br> <br>
        <a href="" class="btn-yellow"> View All</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <owl-carousel-o [options]="ex" class="new">
          <ng-template carouselSlide>
            <div class="second hero">
              <img class="hero-profile-img"
                src="https://i.pinimg.com/originals/9f/b1/ff/9fb1ffb05dd28039d1a06ad8e90cbd75.jpg" alt="">
              <div class="hero-description-bk"></div>

              <div class="hero-description">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
              <div class="hero-date">
                <p>20.02.2019</p>
              </div>
              <div class="hero-btn">
                <a href="#">Learn More</a>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="second hero">
              <img class="hero-profile-img"
                src="https://i.pinimg.com/originals/9f/b1/ff/9fb1ffb05dd28039d1a06ad8e90cbd75.jpg" alt="">
              <div class="hero-description-bk"></div>

              <div class="hero-description">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
              <div class="hero-date">
                <p>20.02.2019</p>
              </div>
              <div class="hero-btn">
                <a href="#">Learn More</a>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="second hero">
              <img class="hero-profile-img"
                src="https://i.pinimg.com/originals/9f/b1/ff/9fb1ffb05dd28039d1a06ad8e90cbd75.jpg" alt="">
              <div class="hero-description-bk"></div>

              <div class="hero-description">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
              <div class="hero-date">
                <p>20.02.2019</p>
              </div>
              <div class="hero-btn">
                <a href="#">Learn More</a>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="second hero">
              <img class="hero-profile-img"
                src="https://i.pinimg.com/originals/9f/b1/ff/9fb1ffb05dd28039d1a06ad8e90cbd75.jpg" alt="">
              <div class="hero-description-bk"></div>

              <div class="hero-description">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
              <div class="hero-date">
                <p>20.02.2019</p>
              </div>
              <div class="hero-btn">
                <a href="#">Learn More</a>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="second hero">
              <img class="hero-profile-img"
                src="https://i.pinimg.com/originals/9f/b1/ff/9fb1ffb05dd28039d1a06ad8e90cbd75.jpg" alt="">
              <div class="hero-description-bk"></div>

              <div class="hero-description">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
              <div class="hero-date">
                <p>20.02.2019</p>
              </div>
              <div class="hero-btn">
                <a href="#">Learn More</a>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="second hero">
              <img class="hero-profile-img"
                src="https://i.pinimg.com/originals/9f/b1/ff/9fb1ffb05dd28039d1a06ad8e90cbd75.jpg" alt="">
              <div class="hero-description-bk"></div>

              <div class="hero-description">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
              <div class="hero-date">
                <p>20.02.2019</p>
              </div>
              <div class="hero-btn">
                <a href="#">Learn More</a>
              </div>
            </div>
          </ng-template>
        </owl-carousel-o>

      </div>
    </div>
  </div>
</section>