<section class="banner">

  <swiper [config]="config">
    <div class="swiper-wrapper">
      <div class="swiper-slide animeslide-slide" style="background-image: url({{endpoint}}/{{item.path}});"
        *ngFor="let item of getBanners">
        <div class="container too">
          <h2 data-animate="bottom" class="animeslide-heading" *ngIf="dir == 'ltr'">{{item.erTitle}}</h2>
          <h2 data-animate="bottom" class="animeslide-heading" *ngIf="dir == 'rtl'">{{item.arTitle}}</h2>

          <p data-animate="bottom" class="animeslide-desc" *ngIf="dir == 'ltr'">{{item.erContent}}</p>
          <p data-animate="bottom" class="animeslide-desc" *ngIf="dir == 'rtl'">{{item.arContent}}</p>
        </div>
      </div>
    </div>
    <!-- Add Pagination -->

    <!-- Add Arrows -->
    <div class="flex animeslide-bottom">
      <div class="cell small">
        <div class="animeslide-pagination swiper-pagination"></div>
      </div>
      <div class="cell medium">
        <div class="animeslide-scrollbar swiper-scrollbar"></div>
      </div>
      <div class="cell small">
        <div class="animeslide-button-prev swiper-button-prev"></div>
        <div class="animeslide-button-next swiper-button-next"></div>
      </div>
    </div>
  </swiper>

</section>

<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-md-6" *ngFor="let item of aboutSec">
        <h6>
          <span *ngIf="dir == 'ltr'">{{item.erTitle}}</span>
          <span *ngIf="dir == 'rtl'">{{item.arTitle}}</span>
        </h6>
        <p [innerHTML]="item.erContent" *ngIf="dir == 'ltr'"></p>
        <p [innerHTML]="item.arContent" *ngIf="dir == 'rtl'"></p>
        <img src="../../assets/img/juman.png" class="jum">
        <br>
        <a href="{{endpoint}}/{{item.images[0].path}}" target="_blank" class="download">Download</a>
      </div>
      <div class="col-md-6" *ngFor="let item of whatWeDoSec">
        <h6>
          <span *ngIf="dir == 'ltr'">{{item.erTitle}}</span>
          <span *ngIf="dir == 'rtl'">{{item.arTitle}}</span>
        </h6>
        <hr class="hr">
        <p [innerHTML]="item.erContent" *ngIf="dir == 'ltr'"></p>
        <p [innerHTML]="item.arContent" *ngIf="dir == 'rtl'"></p>
      </div>
    </div>
  </div>
</section>

<section class="set-part">
  <div class="container-fluid" style="padding:0px;">
    <div class="row g-0">
      <div class="col-md-6">
        <owl-carousel-o [options]="suc" class="newr">
          <ng-template carouselSlide *ngFor="let img of operatingImgSec">
            <div class="slide">
              <img src="{{endpoint}}/{{img.images[1].path}}">
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
      <div class="col-md-6 part-two">
        <div class="col-md-6">
          <owl-carousel-o [options]="succ" class="log_caroou">
            <ng-template carouselSlide *ngFor="let img of operatingImgSec">
              <div class="logo-back">
                <img src="{{endpoint}}/{{img.images[0].path}}" class="logo-pos">
              </div>
            </ng-template>
          </owl-carousel-o>
        </div>

        <span *ngFor="let item of operatingSect">
          <h3>
            <span *ngIf="dir == 'ltr'">{{item.erTitle}}</span>
            <span *ngIf="dir == 'rtl'">{{item.arTitle}}</span>
          </h3>
          <p [innerHTML]="item.erContent" *ngIf="dir == 'ltr'"></p>
          <p [innerHTML]="item.arContent" *ngIf="dir == 'rtl'"></p>
        </span>
      </div>
    </div>
  </div>
</section>

<section class="service">
  <div class="container">
    <div class="row" *ngFor="let item of serviceSect;">
      <div class="col-md-5">
        <div class="markkk" style="background: url({{endpoint}}/{{item.images[0].path}});">
          <!-- <img src="../../assets/img/logo-gcc.png" class="img-fluid im-tt" style="padding:30px;margin-top:-2rem;"> -->
          <a routerLink="/gcc" class="btn-read">{{"ReadMore" | translate}}</a>
        </div>

      </div>
      <div class="col-md-6">
        <h3 class="title">
          <span *ngIf="dir == 'ltr'">{{item.erTitle}}</span>
          <span *ngIf="dir == 'rtl'">{{item.arTitle}}</span>
        </h3>
        <p [innerHTML]="item.erContent" *ngIf="dir == 'ltr'"></p>
        <p [innerHTML]="item.arContent" *ngIf="dir == 'rtl'"></p>
      </div>

      <div class="col-md-4">
        <br><br>
        <img src="../../assets/img/services.png">
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-6">
        <div class="mar" style="background: url({{endpoint}}/{{item.images[1].path}});">
          <!-- <img src="../../assets/img/logo-m.png" class="img-fluid im-tt" style="padding:30px;margin-top:-2rem;"> -->
          <a href="" class="btn-readd">{{"ReadMore" | translate}}</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="set-part">
  <div class="container-fluid" style="padding:0px;">
    <div class="row g-0" *ngFor="let item of partnerSec">
      <div class="col-md-6 part">
        <h3>
          <span *ngIf="dir == 'ltr'">{{item.erTitle}}</span>
          <span *ngIf="dir == 'rtl'">{{item.arTitle}}</span>
        </h3>
        <p [innerHTML]="item.erContent" *ngIf="dir == 'ltr'"></p>
        <p [innerHTML]="item.arContent" *ngIf="dir == 'rtl'"></p>
      </div>
      <div class="col-md-6 part-grey">
        <owl-carousel-o [options]="successs" class="hii">
          <ng-template carouselSlide *ngFor="let img of partnerSecImages">
            <div class="slidee">
              <img src="{{endpoint}}/{{img.path}}" alt="img 1" class="partner_img">
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>

<section class="client">
  <div class="container-fluid">
    <div class="row" *ngFor="let item of clientSec">
      <div class="col-md-12">
        <span class="cli">
          <span *ngIf="dir == 'ltr'">{{item.erTitle}}</span>
          <span *ngIf="dir == 'rtl'">{{item.arTitle}}</span>
        </span>
        <h1 class="trust">
          <span *ngIf="dir == 'ltr'">{{item.erContent}}</span>
          <span *ngIf="dir == 'rtl'">{{item.arContent}}</span>
        </h1>
      </div>
      <div class="col-md-12 car">
        <owl-carousel-o [options]="success" class="new">
          <ng-template carouselSlide *ngFor="let item of clientImageSec">
            <div class="slide">
              <img src="{{endpoint}}/{{item.path}}" alt="img 1">
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>

<section class="testimonal">
  <div class="container">
    <div class="row">
      <div class="col-md-12" *ngFor="let item of testimonialHeadingSec">
        <span class="cli" *ngFor="let clie of clientSec">
          <span *ngIf="dir == 'ltr'">{{clie.erTitle}}</span>
          <span *ngIf="dir == 'rtl'">{{clie.arTitle}}</span>
        </span>
        <h1 class="trust1">
          <span *ngIf="dir == 'ltr'">{{item.erTitle}}</span>
          <span *ngIf="dir == 'rtl'">{{item.arTitle}}</span>
        </h1>
      </div>
      <div class="col-md-12 yes">
        <owl-carousel-o [options]="car" class="new">
          <ng-template carouselSlide *ngFor="let item of testimonialContentSec">
            <div class="row">
              <div class="col-md-3">
                <img src="{{endpoint}}/{{item.images[0].path}}" class="img-u">
                <h6>{{item.erContent}}</h6>
              </div>
              <div class="col-md-9">
                <img src="../../assets/img/quote.svg" class="quote">
                <p>{{item.arContent}}</p>
              </div>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>

<section class="game-section">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <p class="latest">{{"LATESTNEWS" | translate}}</p>
        <h4 class="roln">{{"READURLATESTNEWS" | translate}}</h4>
      </div>
      <div class="col-md-2">
        <br> <br>
        <a href="" class="btn-yellow"> {{"ViewAll" | translate}}</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <owl-carousel-o [options]="ex" class="new">
          <ng-template carouselSlide *ngFor="let img of latestSec">
            <div class="second hero">
              <img class="hero-profile-img"
                src="{{endpoint}}/{{img.images[0].path}}" alt="">
              <div class="hero-description-bk"></div>

              <div class="hero-description">
                <p>{{img.arTitle}}</p>
              </div>
              <div class="hero-date">
                <p>{{img.arContent | date:'mediumDate'}}</p>
              </div>
              <div class="hero-btn">
                <a href="{{img.erContent}}" target="_blank">{{"LearnMore" | translate}}</a>
              </div>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>