.car{
    background: #F8F8F8;
    padding:30px;
}
.img-u{
    border-radius:50%;
    margin-left:20px;
  width:200px !important;
  height:200px !important;
}
.quote{
    width:50px !important;
    height:50px !important;
}
.yes{
    background:#FAA61A;
    padding:40px;
}
.yes h6{
    text-align: center;
    padding-top:15px;
    font-size:20px;
    color:var(--white-color);
}
.yes p{
    line-height:1.6;
        padding-top:15px;
    font-size:20px;
    color:var(--white-color);
}


  .btn-read{
    padding: 12px;
    position:relative;
    left:45%;
    display: inline-block;
    width:40%;
    text-align: center;
    border-radius: 57px;
    color: var(--white-color);
    top:40%;
    background: var(--main-color);
  }
  .im-t{
position:absolute;
left:10%;
top:40%;
  }
  .markk{
    position: relative;
    top:-30%;
  }
 
     .im-tt{
      position: relative;
      top:40%;
     }
      .btn-readd{
        padding: 12px;
    position: relative;
    left: 43%;
    display: inline-block;
    width: 35% !important;
    text-align: center;
    border-radius: 57px;
    color: var(--white-color);
    top:40%;
    background: var(--main-color);
      }
      .title{
        font-size: var(--heading-h2);
      }
      .post-slide{
        margin: 0 15px;
        position:relative;
        background:#fff;
    }
    .post-slide .post-img{
        position: relative;
        overflow: hidden;
    }
    .post-slide .post-img img{
        width: 100%;
        height: auto;
    }
    .post-slide .over-layer{
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        opacity:0;
        background: rgba(0,0,0,0.6);
        transition: all 0.30s ease;
    }
    .post-slide:hover .over-layer{
        opacity:1;
    }
    .post-slide .post-link{
        margin:0;
        padding:0;
        position: relative;
        top:45%;
        text-align:center;
    }
    .post-slide .post-link li{
        display: inline-block;
        list-style: none;
        margin-right:20px;
    }
    .post-slide .post-link li a{
        color:#fff;
        font-size:20px;
    }
    .post-slide .post-link li a:hover{
        color: #ff8b3d;
        text-decoration:none;
    }
    .post-slide .post-date{
        position:absolute;
        top:10%;
        left:4%;
    }
    .post-slide .date{
        display: inline-block;
        border-radius: 3px 0 0 3px;
        padding: 5px 10px;
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        background:#333;
        float: left;
    }
    .post-slide .month{
        display: inline-block;
        border-radius: 0 3px 3px 0;
        padding: 5px 13px;
        color: #111;
        font-size: 20px;
        font-weight: bold;
        background: #ff8b3d;
    }
    .post-slide .post-content{
        padding:30px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    }
    .post-slide .post-title{
        margin:0 0 15px 0;
    }
    .post-slide .post-title a{
        font-size:18px;
        font-weight:bold;
        color:#333;
        display: inline-block;
        text-transform:capitalize;
        transition: all 0.3s ease 0s;
    }
    .post-slide .post-title a:hover{
        text-decoration: none;
        color:#ff8b3d;
    }
    .post-slide .post-description{
        font-size: 14px;
        line-height:24px;
        color:#808080;
    }
    .post-slide .read-more{
        color:#333;
        font-size:14px;
        font-weight:bold;
        text-transform:uppercase;
        position: relative;
        transition: color 0.20s linear;
    }
    .post-slide .read-more:hover{
        text-decoration:none;
        color:#ff8b3d;
    }
    .post-slide .read-more:after{
        content:"";
        position: absolute;
        width:30%;
        display: block;
        border:1px solid #ff8b3d;
        transition: all 0.30s ease;
    }
    .post-slide .read-more:hover:after{
        width:100%;
    }
    @media only screen and (max-width: 479px) {
        .post-slide .month{
            font-size:14px;
        }
        .post-slide .date{
            font-size:14px;
        }
    }
    .game-section{
          padding-top:50px;
      padding-bottom:90px;
    }
    .hero {
      display: inline-block;
      position: relative;
      width: 350px;
      min-width: 350px;
      height: 400px;
      border-radius: 30px;
      overflow:hidden;
     
      margin: 30px;
    }
    
    .hero-profile-img {
      height: 70%;
    }
    .hr{
          background: var(--main-color);
          height:3px;
              }
    .hero-description-bk {
      background-image: linear-gradient(0deg , #3f5efb, #fc466b);
      border-radius: 30px;
      border-radius: 30px;
    position: absolute;
    top: 50%;
    left: -5px;
    height: 65%;
    width: 108%;
    transform: skew(19deg, -9deg);
    }
    
    .second .hero-description-bk {
      background-image: linear-gradient(-20deg , #bb7413, #e7d25c)
    }
    
    .hero-logo {
      height: 80px;
      width: 80px;
      border-radius: 20px;
      background-color: #fff;
      position: absolute;
      bottom: 30%;
      left: 30px;
      overflow:hidden;
      box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.7);
    }
    
    .hero-logo img {
      height: 100%;
    }
    
    .hero-description {
      position: absolute;
      color: #fff;
      font-weight: 900;
      left:20px;
      bottom: 26%;
    }
    
    .hero-btn {
      position: absolute;
      color: #fff;
      right: 30px;
      bottom: 10%;
      padding: 10px 20px;
      border: 1px solid #fff;
    }
    
    .hero-btn a {
      color: #fff;
    }
    
    .hero-date {
      position: absolute;
      color: #fff;
      left: 30px;
      bottom: 10%;
    }
    /* END CARD DESIGN */
    .jum{
      position:relative;
      left:-13%;
      width:300px;
    }
    .about h6{
      font-size:30px;
      font-weight:700;
      padding-bottom:20px;
    }
    .client{
      padding-top: 70px;
      padding-bottom: 40px;
    }
   .client .cli{
    text-align: left;
font-size: 12px;
letter-spacing: 0px;
padding-left: 40px;
padding-bottom:40px;
color: #37C2D4;
text-transform: uppercase;
opacity: 1;
   }
   .trust{
    padding-left: 40px;
padding-bottom:10px;
padding-top:10px;
   }
   .trust::after{
    content:'';
  display:inline-block;
  width:30%;
 margin-top: -20px; 
   height:100%;
   position: relative;
   left: 20px;
   top: -7px;

  /* margin-right:100%; */
  border-top:2px solid #A8A8A8;
   
   }
   .testimonal{
    padding-top: 0px;
    padding-bottom: 40px;
  }
 .testimonal .cli{
  text-align: left;
font-size: 12px;
letter-spacing: 0px;
padding-left: 0px;
padding-bottom:20px;
color: #37C2D4;
text-transform: uppercase;
opacity: 1;
 }
 .trust1{
  padding-left: 0px;
padding-bottom:10px;
padding-top:10px;
 }
 .trust1::after{
  content:'';
display:inline-block;
width:30%;
margin-top: -20px; 
 height:100%;
 position: relative;
 left: 20px;
 top: -7px;

/* margin-right:100%; */
border-top:2px solid #A8A8A8;
 
 }
 .latest{
  text-align: left;
  font-size: 12px;
  letter-spacing: 0px;
  padding-left: 0px;
  padding-bottom:0px;
  color: var(--main-color);
  text-transform: uppercase;
  opacity: 1;
 }
 .roln{
  text-align: left;
font-size: 35px;
padding-top:20px;
letter-spacing: 0px;
color: #000000;
opacity: 1;
 }
 .roln::after{
  content:'';
display:inline-block;
width:10%;
margin-top: -20px; 
 height:100%;
 position: relative;
 left: 20px;
 top: -7px;

/* margin-right:100%; */
border-top:2px solid #A8A8A8;
 
 }
 .btn-yellow{
  background: var(--main-color);
  color:var(--color-black);
  padding:12px;
  }
  .part{
    background: var(--color-secondary);
  }
  .part h3{
    padding-left:30px;
    padding-top:40px;
    padding-right:30px;
    font-size:30px;
    color: var(--white-color);
  }
  .set-part{
    padding-top:60px;
  }
  .part p{
    padding-left:30px;
    padding-top:20px;
    padding-right:30px;
    color: var(--white-color);
  }
  .part-grey{
    background: #F1F1F1;
    padding:20px;
  }
   .newr.owl-theme .owl-nav [class*=owl-] {
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background:var(--main-color) !important;
    display: inline-block;
    cursor: pointer;
 
    border-radius: 3px;
}

.newr .owl-carousel .owl-nav .owl-prev {
  position: relative !important;
  top: 80px !important;
  left: 190px !important;
}
.carousel-wrapper {
  width: 1000px;
  margin: auto;
  position: relative;
  text-align: center;
  font-family: sans-serif;
}
.owl-carousel .owl-nav {
  overflow: hidden;
  height: 0px;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #5110e9;
}

.owl-carousel .item {
  text-align: center;
}
.owl-carousel .nav-button {
  height: 50px;
  width: 25px;
  cursor: pointer;
  position: absolute;
  top: 110px !important;
}
.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled {
  pointer-events: none;
  opacity: 0.25;
}
.owl-carousel .owl-prev {
  left: -35px;
}
.owl-carousel .owl-next {
  right: -35px;
}
.owl-theme .owl-nav [class*=owl-] {
  color: #ffffff;
  font-size: 39px;
  background: #000000;
  border-radius: 3px;
}
.owl-carousel .prev-carousel:hover {
  background-position: 0px -53px;
}
.owl-carousel .next-carousel:hover {
  background-position: -24px -53px;
}
 .service{
  padding-top: 60px;
 }
 .about{
  padding-top:30px;
 }
.logo-back{
  background:rgba(255,255,255,0.6);
  padding: 40px;
  position: relative;
  top:8rem;
  left: -6rem;
  z-index: 1;
}

 .part-two{
  background: var(--main-color);
 }